@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.app{
  min-height: 100vh;
  display: grid;
  /* background:  #1f1827; */
  background: url("https://media.istockphoto.com/id/951700464/photo/sky.jpg?s=2048x2048&w=is&k=20&c=JNGhshwHARWWkAfRnOgONWJjrcen8oyM_ETrxNJurOQ=");

}
/* https://media.istockphoto.com/id/1620078759/photo/blue-sky-background-with-white-cloud-in-sunny-day.jpg?s=2048x2048&w=is&k=20&c=1-PnrQjO5wP7nx0s1Ab_3Z9Q24qrFkVVePcXXRSgwwU= */
